#mobile-home
	#auth-section(ng-show="!user")
		a.button(href="javascript:void(0);" ng-click="fb.login()")
			span.icon-facebook.icon 
			| Entrar

	a.logout-button(href="javascript:void(0);" ng-click="logout()" ng-show="user") Sair

	.map(ng-controller="MapCtrl" ng-show="user")
		leaflet#map(defaults="defaults" center="center" markers="markers = (areas | areaToMarker)")

	a.share-button(ui-sref="home.newItem")
		.icon-plus

	.ui-view