include messages

#loading(loading-status-message='loading-status-message' ng-class='{active: loads.length}')
.loading-message

script.
	var _gaq = _gaq || []; _gaq.push(['_setAccount', "UA-69012465-1"]);
	_gaq.push(['_setDomainName', 'cidadescomestiveis.org']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
script(type='text/javascript', src='/app.js')
