include messages

#loading(loading-status-message='loading-status-message' ng-class='{active: loads.length}')
	.loading-message

script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
script(type='text/javascript', src='/app.js')
