header#masthead
	.container
		.six.columns
			h1 Cidades Comestíveis
				img(src="/img/logo.png" alt="Logo do Cidades Comestíveis")
		.six.columns
			nav#authnav
				a(href="javascript:void(0);" ng-click="loginDialog()" ng-show="!user") Entrar
				span(ng-show="user") Olá {{user.name}}. 
					a(href="javascript:void(0);" ng-click="logout()") Sair
			nav#mastnav.clearfix
				ul
					li
						a(href="#") Página inicial
					li
						a(href="#") O projeto
					li
						a(href="#") Dúvidas frequentes