header#masthead
	.container
		.six.columns
			h1 
				a(ui-sref="home") Cidades Comestíveis
					img(src="/img/logo.png" alt="Logo do Cidades Comestíveis")
		.six.columns
			nav#authnav
				a(href="javascript:void(0);" ng-click="loginDialog()" ng-show="!user") Entrar
				#user-dashboard(ng-controller="UserCtrl" ng-show="user") Olá {{user.name}} 
					span.icon-chevron-down
					.user-settings
						a(href="javascript:void(0);" ng-click="editUserDialog()") Editar perfil
						a(href="javascript:void(0);" ng-click="logout()") Sair
			nav#mastnav.clearfix
				ul
					li
						a(ui-sref="home") Página inicial
					li
						a(ui-sref="projeto") O projeto
						ul.submenu
							li
								a(ui-sref="projeto") O que é?
							li
								a(ui-sref="projeto({'#': 'ten-steps'})") 10 passos para construir uma horta comunitária
							li
								a(ui-sref="projeto({'#': 'prefeitura'})") E a prefeitura nisso?
								a(ui-sref="projeto({'#': 'terreno-privado'})") E se o terreno for privado?
					li
						a(ui-sref="manifesto") Manifesto