header#masthead
	.container
		.six.columns
			h1 Cidades Comestíveis
				img(src="/img/logo.png" alt="Logo do Cidades Comestíveis")
		.six.columns
			nav#mastnav
				ul
					li
						a(href="#") Página inicial
					li
						a(href="#") O projeto
					li
						a(href="#") FAQ
					li
						a(href="#") Cadastre-se