article#area.single-item
	p.main {{item.description}}
	p
		span.label Endereço: 
		| {{item.address}}
	.manage-initiatives(ng-controller="DashboardCtrl" ng-show="user && getItems('initiative').length")
		form(ng-controller="InitiativeCtrl" ng-submit="addArea(initiative, item._id)")
			p
				label(for="add_initiative_input") Associar iniciativa
				select(ng-model="initiative")
					option(ng-repeat="item in getItems('initiative')" ng-value="item._id") {{item.name}}
				input(type="submit" value="Associar")

	p(ng-show="canEdit")
		a.button(ui-sref="home.editItem({id: item._id, type: type})") Editar