.map(ng-controller="MapCtrl" ng-class="{active:mapActive}")
	leaflet#map(defaults="defaults" center="center")
	#map-actions
		.add-new.primary(ng-controller="NewCtrl")
			a.label.icon-plus(href="javascript:void(0);" ng-click="addNew()")
			.hover-content
				span.description Adicionar ao mapa
		.search
			span.label.icon-magnifying-glass
			.hover-content
				input(type="text")
	nav#map-filters
		a(href="javascript:void(0);")
			span.icon.c-icon-insumo
			| Insumos
		a(href="javascript:void(0);")
			span.icon.c-icon-conhecimento
			| Conhecimentos
		a(href="javascript:void(0);")
			span.icon.c-icon-trabalho
			| Trabalho
		a(href="javascript:void(0);")
			span.icon.c-icon-ferramentas
			| Ferramentas
		a(href="javascript:void(0);")
			span.icon.c-icon-terreno
			| Terrenos
.row
	.container
		.eight.columns.offset-by-two
			section#map-intro(ng-class="{hidden:mapActive}")
				p In congue neque vestibulum tellus viverra ornare. Sed in sem dolor.
					| Sed id urna vel leo efficitur feugiat a a enim. Curabitur rhoncus elit
					| vitae tristique venenatis. Suspendisse ac neque ligula. Sed imperdiet
					| lacus lorem, eu molestie felis vehicula ut.
				a.button(href="javascript:void(0);" ng-click="initMap()") Acesse

.row
	#site-intro
		.container
			.two.columns.offset-by-one
				img(src="/img/mobile.png")
			.eight.columns
				p In congue neque vestibulum tellus viverra ornare. Sed in sem dolor.
					| Sed id urna vel leo efficitur feugiat a a enim. Curabitur rhoncus elit
					| vitae tristique venenatis. Suspendisse ac neque ligula. Sed imperdiet
					| lacus lorem, eu molestie felis vehicula ut.