.ui-view(autoscroll="false")
#dashboard(ng-controller="DashboardCtrl" ng-show="user" ng-init="dashboardActive = false")
	.container
		.twelve.columns
			.sharing
				span.arrow(ng-class="{'icon-chevron-down': !dashboardActive, 'icon-chevron-up': dashboardActive}")
				h2(ng-click="dashboardActive ? dashboardActive = false : dashboardActive = true") Meus compartilhamentos
				ul.sharing-list.toggle(ng-show="dashboardActive")
					li.sharing-item(ng-repeat="item in items")
						a(ui-sref="home.editItem({id: item._id, type: item.type})")
							span.icon(class="c-icon-{{item.type}}")
							span.title {{item.description}}
							span.edit-icon.icon-pencil


.map(ng-controller="MapCtrl" ng-class="{active:mapActive}")
	.clearfix
		leaflet#map(defaults="defaults" center="center" markers="markers = (areas | areaToMarker)")
		section#map-list-results
			header.results-header
				h2 Recursos no mapa
				p.description Navegue pelo mapa e encontre recursos disponibilizados pela comunidade
			nav.results-nav
				a(href="#") Insumo 
					span.count 0
				a(href="#") Conhecimento 
					span.count 2
				a(href="#") Trabalho 
					span.count 3
				a(href="#") Ferramenta 
					span.count 5
			ul
				li
					article
						h3 Descrição/nome
				li
					article
						h3 Descrição/nome
				li
					article
						h3 Descrição/nome
				li
					article
						h3 Descrição/nome

	#map-actions
		.add-new.primary
			a.label.icon-plus(ui-sref="home.newItem")
			.hover-content
				span.description Adicionar ao mapa
		.search
			span.label.icon-magnifying-glass
			.hover-content
				input(type="text")
	nav#map-filters
		a(href="javascript:void(0);")
			span.icon.c-icon-insumo
			| Insumos
		a(href="javascript:void(0);")
			span.icon.c-icon-conhecimento
			| Conhecimentos
		a(href="javascript:void(0);")
			span.icon.c-icon-trabalho
			| Trabalho
		a(href="javascript:void(0);")
			span.icon.c-icon-ferramentas
			| Ferramentas
		a(href="javascript:void(0);")
			span.icon.c-icon-area
			| Terrenos
		a(href="javascript:void(0);")
			span.icon.c-icon-iniciativa
			| Iniciativas
.row
	.container
		.eight.columns.offset-by-two
			section#map-intro(ng-class="{hidden:mapActive}" ng-init="user ? initMap() : null")
				p Imagine que delícia seria morar em uma cidade onde a comida é de graça e cresce pelas calçadas, jardins, telhados e rotatórias. Deu fome, não? Essa cidade só é possível se você levantar-se do sofá e construí-la. Vamos? Tire suas sementes do armário, afie suas ferramentas, suje suas mãos de terra e converse com seus conhecidos (ou desconhecidos!) para criar uma horta comunitária! Vamos juntos comer nossa cidade?
				a.button(href="javascript:void(0);" ng-click="initMap()") Acesse

.row
	#site-intro
		.container
			.twelve.columns
				p Cidades Comestíveis é um projeto de cidade que visa estimular uma rede colaborativa de compartilhamento de recursos, conhecimentos e trabalho entre pessoas interessadas em cultivar hortas comunitárias e caseiras. No mapa, é possível indicar e encontrar terrenos ociosos e pessoas interessadas em trabalhar, buscando incentivar e facilitar o processo de criação e manutenção de hortas comunitárias. Cidadãos e cidadãs interessados em iniciar uma horta comunitária pela cidade, a hora é agora!
		.intro-details
			.container
				.five.columns
					.mobile.clearfix
						span.icon.c-icon-iniciativa
						p Adicione terrenos no mapa direto pelo celular acessando o site!
				.seven.columns
					.ten-steps
						p
							a(ui-sref="projeto({'#': 'ten-steps'})")
								span.number 10 
								span.first-line passos para fazer 
								span.second-line uma horta comunitária.
		.mudasp
			.container
				.twelve.columns
					img(src="/img/mudasp.png" alt="Muda SP")
					p Cidades Comestíveis é uma projeto incentivado pelo MUDA_SP! Conheça o movimento!