#dashboard(ng-show="user" ng-init="dashboardActive = false")
	.container
		.twelve.columns
			.sharing
				span.arrow(ng-class="{'icon-chevron-down': !dashboardActive, 'icon-chevron-up': dashboardActive}")
				h2(ng-click="dashboardActive ? dashboardActive = false : dashboardActive = true") Meus compartilhamentos
				ul.sharing-list.toggle(ng-show="dashboardActive")
					li.sharing-item
						span.icon.c-icon-conhecimento
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-conhecimento
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-trabalho
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-terreno
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-terreno
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-insumo
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-ferramentas
						span Lorem ipsum
						span.edit-icon.icon-pencil
					li.sharing-item
						span.icon.c-icon-terreno
						span Lorem ipsum
						span.edit-icon.icon-pencil


.map(ng-controller="MapCtrl" ng-class="{active:mapActive}")
	leaflet#map(defaults="defaults" center="center")
	#map-actions
		.add-new.primary(ng-controller="NewCtrl")
			a.label.icon-plus(href="javascript:void(0);" ng-click="user ? newDialog() : loginDialog(newDialog)")
			.hover-content
				span.description Adicionar ao mapa
		.search
			span.label.icon-magnifying-glass
			.hover-content
				input(type="text")
	nav#map-filters
		a(href="javascript:void(0);")
			span.icon.c-icon-insumo
			| Insumos
		a(href="javascript:void(0);")
			span.icon.c-icon-conhecimento
			| Conhecimentos
		a(href="javascript:void(0);")
			span.icon.c-icon-trabalho
			| Trabalho
		a(href="javascript:void(0);")
			span.icon.c-icon-ferramentas
			| Ferramentas
		a(href="javascript:void(0);")
			span.icon.c-icon-terreno
			| Terrenos
		a(href="javascript:void(0);")
			span.icon.c-icon-iniciativa
			| Iniciativas
.row
	.container
		.eight.columns.offset-by-two
			section#map-intro(ng-class="{hidden:mapActive}" ng-init="user ? initMap() : null")
				p In congue neque vestibulum tellus viverra ornare. Sed in sem dolor.
					| Sed id urna vel leo efficitur feugiat a a enim. Curabitur rhoncus elit
					| vitae tristique venenatis. Suspendisse ac neque ligula. Sed imperdiet
					| lacus lorem, eu molestie felis vehicula ut.
				a.button(href="javascript:void(0);" ng-click="initMap()") Acesse

.row
	#site-intro
		.container
			.two.columns.offset-by-one
				img(src="/img/mobile.png")
			.eight.columns
				p In congue neque vestibulum tellus viverra ornare. Sed in sem dolor.
					| Sed id urna vel leo efficitur feugiat a a enim. Curabitur rhoncus elit
					| vitae tristique venenatis. Suspendisse ac neque ligula. Sed imperdiet
					| lacus lorem, eu molestie felis vehicula ut.