header
	h2 Entrar
#auth.clearfix
	.half-group
		.half
			form#login(ng-submit="login(credentials)")
				h3 Fazer login
				p
					label Email
					input(type="email" ng-model="credentials.email")
				p
					label Senha
					input(type="password" ng-model="credentials.password")
				p
					input(type="submit" value="Entrar")
				p
					a.button(href="javascript:void(0);" ng-click="fb.login()")
						span.icon.icon-facebook 
						| Entrar com o Facebook

		.half
			form#register(ng-submit="register(newUser)")
				h3 Cadastre-se!
				p
					label Email
					input(type="email" ng-model="newUser.email")
				p
					label Nome
					input(type="text" ng-model="newUser.name")
				p
					label Senha
					input(type="password" ng-model="newUser.password")
				p
					input(type="submit" value="Cadastrar")
