section#manifesto.single-page.row
	.container
		.twelve.columns
			.manifesto-container
				.flag-container
					.flag
						img(src="/img/manifesto.png")

				h1 Manifesto dos Hortelões Urbanos

				p Nós somos agricultores urbanos: vivemos na cidade e plantamos alimentos.

				p Fazemos isso porque queremos caminhar rumo à autonomia alimentar. Nosso objetivo é diminuirmos progressivamente a dependência da agricultura convencional, da indústria alimentícia e dos grandes varejistas. Buscamos a interconexão entre todos os moradores e moradoras de uma cidade e acreditamos na possibilidade de cada pessoa cultivar parcialmente ou integralmente seu próprio alimento de forma orgânica e agroecológica.

				h2 A cidade e o campo: Um só território

				p Entendemos a questão da polarização entre a cidade e o campo como uma relação sem hierarquias tendo em vista que a dependência é mútua. Conseguimos produzir apenas uma parte dos alimentos de que necessitamos e por esse e outros motivos apoiamos um modelo mais sustentável de produção agrícola no campo. Repudiamos os impactos negativos da agricultura convencional sobre o meio ambiente desde a extração de recursos naturais, transporte, embalagem e geração de resíduos e uso da mão de obra. Buscamos parcerias com pequenos produtores agroecológicos e demandamos acesso a redes locais de comércio justo em contraposição ao agronegócio de larga escala, extremamente dependente de combustíveis fósseis, que explora intensivamente da terra, tortura os animais, usa agrotóxicos de forma massiva e concentra a renda na mão de poucas pessoas, prejudicando, em todas as etapas de produção, a natureza e a sociedade.

				h2 A memória assegura o futuro

				p Percebemos a importância de protegermos os conhecimentos agrícolas ancestrais que a agricultura baseada em fertilizantes químicos, agrotóxicos, latifúndios, monocultivo e alta mecanização tenta extinguir. Queremos unir os saberes tradicionais ao conhecimento científico moderno proporcionado pela agroecologia. Defendemos a troca horizontal de conhecimentos e o compartilhamento de recursos para nos integrarmos à rede mundial de agricultores urbanos intimamente ligada à agricultura familiar e outros movimentos com os mesmo propósitos.

				p Trocamos e doamos sementes e mudas, assim como nossas descobertas. Somos contra a privatização da tecnologia de produção de alimentos e do banco genético das espécies comestíveis. Achamos criminoso o lucro proveniente da especulação financeira que impede uma parte da humanidade de ter acesso ao alimento. Acreditamos na criação de um banco de sementes orgânicas, crioulas e tradicionais que possa resgatar a biodiversidade e contribuir para a ampliação do fluxo gênico das espécies agrícolas e não agrícolas. Sementes possuem valor inestimável para as presentes e futuras gerações.

				h2 Nosso compromisso

				p Assumimos a tarefa de mostrar as novas gerações que é possível cultivar alimentos de forma menos artificial e gerar riquezas sem degradar a natureza ou explorar outros seres humanos. Acreditamos no potencial educativo de hortas urbanas, estimulando o contato humano com as dinâmicas naturais e ampliando a consciência ambiental e cultural dos indivíduos em sua realidade local. A agricultura urbana fortalece a identidade das pessoas com a terra e promove o senso de cidadania na construção de cidades mais justas e sustentáveis.

				p Assumimos ainda a responsabilidade de cultivar a vida nos espaços mortos da cidade, incentivando o compartilhamento equitativo do espaço público pelas pessoas. A cidade deve ser vivida e sentida e deve gerar iguais oportunidades para todas as pessoas, independente de gênero, etnia ou grupo social, para cultivarem alimentos de qualidade e em abundância.

				h2 Comida deve nutrir o corpo, relações sociais e terra

				p Valorizamos o sabor e as qualidades nutritivas dos ingredientes frescos e sazonais. Mas não queremos pagar uma fortuna por eles. Não aceitamos alimentos encharcados de agrotóxicos, o sabor insosso dos congelados e a ilusão nutricional da comida industrializada. Preocupamo-nos com a saúde coletiva e acreditamos que uma alimentação balanceada e com produtos de qualidade é a base para uma saúde integral e preventiva.

				p Plantamos alimentos na cidade sobretudo porque amamos o contato com a terra e a reconexão com os ciclos da natureza. Honramos o trabalho braçal e estamos preparados para ensinar e aprender o cultivo de alimentos bons, limpos e justos. Buscamos a valorização do agricultor, tanto no campo como na cidade, como uma das profissões mais nobres e honráveis, digna de respeito e remuneração adequada. Queremos mostrar que a cidade integra o ecossistema e a bacia hidrográfica e deve incorporar a natureza e seus fluxos em suas decisões de planejamento e em suas áreas públicas.

				p Ao cultivar alimentos na cidade, criamos comunidades solidárias de vizinhos ao redor de nossas hortas, recuperando laços sociais e o hábito da boa convivência no espaço público. O cultivo urbano favorece a criação de laços de amizade e interação baseados na partilha da colheita, no uso coletivo de recursos e na celebração da diversidade. A construção de comunidades urbanas vem destruir a impessoalidade e massificação da vida na cidade e busca re-significar a convivência humana em sociedade.