section#projeto.single-page.row
	.container
		.twelve.columns

			section#about.row
				.flag-container
					.flag
						img(src="/img/carrot.png")

				h2 O que é o projeto Cidades Comestíveis?

				p O projeto Cidades Comestíveis é uma iniciativa do Movimento Urbano de Agroecologia (MUDA_SP) para promover a agricultura urbana na cidade de São Paulo. O projeto foi patrocinado pelo edital Redes e Ruas, lançado pelas Secretarias de Cultura, Serviços e Direitos Humanos da Prefeitura de São Paulo.

				p O Cidades Comestíveis se baseia no direito humano a uma alimentação adequada e com qualidade garantido na Constituição Brasileira. Todo cidadão deve ter o direito de produzir seu próprio alimento, seja na zona rural ou na urbana, garantindo assim a função social da propriedade e o acesso à terra e aos recursos naturais do planeta. A agricultura urbana e periurbana tem sido uma tendência mundial, na medida em que aproxima produtores de consumidores, reforça a importância das áreas verdes no perímetro urbano e conecta cidadãos aos ciclos naturais e à produção alimentar, ampliando a consciência sobre os impactos do modelo convencional de produção e sobre os benefícios da agroecologia.


				p A proposta do projeto é ampliar o número de hortas urbanas em São Paulo por meio de uma plataforma interativa e aberta (opensource) e um aplicativo para celular, conectando áreas ociosas da cidade (públicas ou privadas) com possíveis interessados em cultivar hortaliças, temperos ou ervas medicinais. A plataforma será um espaço amplo de compartilhamento de recursos para a agricultura urbana e possibilitará a troca colaborativa de sementes, mudas, composto, ferramentas e outros insumos essenciais para a produção de alimentos na cidade.


	section#ten-steps.row
		.container
			.twelve.columns
				.carrot-pattern
				h2 
					span.number 10 
					| passos para fazer uma horta comunitária

		ol
			li
				.container
					.twelve.columns

						span.count 1
						h3 Encontre um espaço
						p Pode ser uma praça, um quintal, a lateral de uma calçada, uma calha, um telhado ou qualquer canto da sua cidade que você gostaria de produzir algo e que tenha acesso a água boa.

			li
				.container
					.twelve.columns

						span.count 2
						h3 Converse com as pessoas
						p Encontre quem perto de você, amiga, vizinho, vó, filho, sobrinho ou voluntários dispostos a cuidar da horta cotidianamente, se revezando para que a cada dia alguém esteja lá pelo menos por alguns minutos.

			li
				.container
					.twelve.columns

						span.count 3
						h3 Entenda por que
						p Pode ser uma praça, um quintal, a lateral de uma calçada, uma calha, um telhado ou qualquer canto da sua cidade que você gostaria de produzir algo e que tenha acesso a água boa.

			li
				.container
					.twelve.columns

						span.count 4
						h3 Use mapas
						p Desenhe sua horta e imagine como gostaria que ela fosse. Faça um mapa dos amigos que ajudarão e dos recursos que precisará. Saiba quem são os parceiros pessoais e intitucionais, onde eles estão e como é a melhor forma de acessá-los.

			li
				.container
					.twelve.columns

						span.count 5
						h3 Mão na massa
						p Encontre quem perto de você, amiga, vizinho, vó, filho, sobrinho ou voluntários dispostos a cuidar da horta cotidianamente, se revezando para que a cada dia alguém esteja lá pelo menos por alguns minutos.

			li
				.container
					.twelve.columns

						span.count 6
						h3 Cuide da sua horta
						p Ela precisará ser regada, receber atenção periódica e ser adubada e manejada a cada mês. Seus temperos serão mais saborosos, suas alfaces mais bonitas e seus tomates mais vermelhos.

			li
				.container
					.twelve.columns

						span.count 7
						h3 Dê seu tempo
						p Entenda e interaja com sua horta. Cada coisa terá seu tempo para crescer e umas crescerão mais vigorosas que outras. Veja que planta combina com a outra e observe as estações da lua. Plante mudas novas e veja o que acontece!

			li
				.container
					.twelve.columns
						span.count 8 
						h3 Escreva o que você fez
						p Faça um blog, um diário de plantio ou anote num caderno. Compartilhe seus sucessos, desafios, coisas que não deram certo e métodos infalíveis. Muita gente quer saber o que você faz e quer se aproximar de você.

			li
				.container
					.twelve.columns

						span.count 9
						h3 Celebre a abundância
						p Você tem muitas coisas ao seu redor, desde pessoas incríveis a uma quantidade enorme de recursos. Festeje suas conquistas com todos aqueles que ajudaram no processo, fazendo desde festas da colheita a picnics de troca de mudas.

			li
				.container
					.twelve.columns
						span.count 10
						h3 Se divirta!
						p Aproveite, experimente, seja ousado e não tenha medo de errar e faça isso com prazer. Você virará um pai ou mãe-coruja quando ver a primeira berinjela crescendo.

	section#prefeitura.row
		.container
			.twelve.columns
				h2 E a prefeitura nisso?

				p Com a sua horta implantada e a comunidade envolvida, é importante articular junto à Prefeitura Municipal para que sua iniciativa seja reconhecida, respeitada e fortalecida. Há poucas leis que possibilitam e estabelecem diretrizes para implantação de hortas comunitárias na cidade, o que dificulta naHá alguns instrumentos e instituições que podem ajudar nesse processo:

				p - A cidade de São Paulo possui um Programa de Agricultura Urbana e Periurbana (PROAURP - Lei 13.727/04 e Decreto 45.665/04) que incentiva a criação de hortas comunitárias e hortas caseiras para autoconsumo. São responsáveis por esse programa a Secretaria do Verde e do Meio Ambiente (SVMA), a Secretaria do Desenvolvimento, Trabalho e Empreendedorismo (SDTE) e Secretaria de Coordenação das Subprefeituras. Muitos servidores públicos e políticos não conhecem esse Programa, então é sempre bom relembrá-los. Vale a pena dar uma lida na lei para saber dos seus direitos: 
						a(href="http://bit.ly/1Bshi9p") http://bit.ly/1Bshi9p

				p - Recém-sancionada, a Lei XXXX/2015 possibilita que ocorra a gestão participativa de praças públicas por meio de comitês formados por moradores. A Lei cria diretrizes para que uma praça possa ter uma horta comunitária e envolve mais ativamente a Subprefeitura na gestão desses projetos.

				p - O contato com a Prefeitura para apresentação de um projeto de horta comunitária se dá, principalmente, pela Subprefeitura da região ou via os Conselhos Regionais de Meio Ambiente Desenvolvimento Sustentável e Cultura de Paz (CADES Regionais). Novamente, muitos servidores e gestores públicos não conhecem a legislação referente às hortas comunitárias e é preciso informa-los da sua existência e reforçar sua demanda por reconhecimento de uma horta ou por insumos e apoios para sua implantação.

				p - Os CADES Regionais são conselhos abertos à participação da população e podem reunir demandas das hortas comunitárias e submetê-las à Secretaria de Coordenação das Subprefeituras ou à Secretaria do Verde e do Meio Ambiente. É um ambiente bastante importante para a participação de cidadãos. Saibam mais sobre a agenda de reuniões dos CADES aqui: 
						a(href="http://bit.ly/1SEUcXZ") http://bit.ly/1SEUcXZ

				h3#terreno-privado Mas e se o terreno for privado?

				p Se você está interessado(a) em um terreno para implantar uma horta comunitária e ele for privado, será necessário descobrir quem é o dono do terreno. Na Subprefeitura você provavelmente conseguirá apoio para descobrir quem é o dono do terreno para buscar fazer uma parceria. A Supervisão de Abastecimento (ABAST/SDTE) também pode auxiliar nesse processo, fazendo, inclusive, a mediação entre o interessado e o proprietário do terreno. Mas, se quiser trilhar o caminho com as próprias pernas e sem depender da Prefeitura, tente o seguinte:

				h3 Como descobrir a titularidade de um terreno?

				p Pegue o endereço completo do imóvel e vá até o Cartório do Registro de Imóveis da zona em que este se localiza e solicite uma cópia atualizada da MATRICULA do imóvel. Não é necessário nome, RG e CPF do proprietário visto que a matricula é o documento que comprova a propriedade do imóvel e é um documento público aberto a consulta por qualquer pessoa.